@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246, 247, 255;
    --foreground: 0, 2, 23;
  }

  .dark {
    --background: 15, 23, 41;
    --foreground: 246, 247, 255;
  }
}

*,html{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
body {
  font-family: 'Helvetica', sans-serif;

}